@import '../../../styles/variables';
@import '../../../styles/mixins';

.results-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	//border: 1px solid black;

	&__data {
		display: flex;
		flex-direction: column;
		margin: 0 20px;

		& > * {
			margin: 10px
		}
	}

	&__table {
		display: flex;
		justify-content: center;
		margin: 0 20px
	}
}

@include breakpoint(small) {

	.results-container {
		flex-direction: row;

		&__data {
			flex: 2 0 50%;
		}

		&__table {
			flex: 2 0 50%;
		}
	}

}
