@import '../../../styles/variables';
@import '../../../styles/mixins';

.stock-form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 10px;

	&__items {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	&__validation {
		margin: 10px;
	}
}

@include breakpoint(small) {

	.stock-form {
		flex-direction: row;
		justify-content: center;
		align-items: center;

		&__validation {
			margin: 10px;
		}
	}
}
