@import '../../../styles/variables';
@import '../../../styles/mixins';

.form-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 10px;

	&__select {
		margin: 10px 10px;
	}

	&__validation {
		margin: 10px;
	}
}

@include breakpoint(small) {

	.form-container {
	}
}
