.app {
	display: flex;
	flex-direction: column;

	&__form {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	&__results {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}
